# Copy from .env.local on the Vercel dashboard
# https://nextjs.org/learn/dashboard-app/setting-up-your-database#create-a-postgres-database
POSTGRES_URL="postgres://default:AKavnkYx45zi@ep-restless-dew-a4n7yzt6-pooler.us-east-1.aws.neon.tech:5432/verceldb?sslmode=require"
POSTGRES_PRISMA_URL="postgres://default:AKavnkYx45zi@ep-restless-dew-a4n7yzt6-pooler.us-east-1.aws.neon.tech:5432/verceldb?sslmode=require&pgbouncer=true&connect_timeout=15"
POSTGRES_URL_NO_SSL="postgres://default:AKavnkYx45zi@ep-restless-dew-a4n7yzt6-pooler.us-east-1.aws.neon.tech:5432/verceldb"
POSTGRES_URL_NON_POOLING="postgres://default:AKavnkYx45zi@ep-restless-dew-a4n7yzt6.us-east-1.aws.neon.tech:5432/verceldb?sslmode=require"
POSTGRES_USER="default"
POSTGRES_HOST="ep-restless-dew-a4n7yzt6-pooler.us-east-1.aws.neon.tech"
POSTGRES_PASSWORD="AKavnkYx45zi"
POSTGRES_DATABASE="verceldb"

# `openssl rand -base64 32`
AUTH_SECRET=0eApUl4Ksn7xtUIehuAmttm3rRDQ5yOp8wyt5Ls2aoo=
AUTH_URL=http://localhost:3000/api/auth